svg.hangman {
  width: 18.75rem;
  height: 18.75rem;
}
svg > * {
  stroke: #6599aa;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: 0.25s;
}
body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
main {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 50px;
}
.incorrect-letters {
  border: 1px solid black;
  width: 60px;
  margin: 50px;
}
.header {
  display: flex;
  justify-content: center;
}
.hangman {
  border: 1px solid black;
  margin: 50px;
}
.letter-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.word-container {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.letter {
  margin: 10px;
}
